@use "../abstracts/" as *;

:root {
  --fs-h1: 2.5rem;
  --ls-h1: -0.45px;
  --fs-h2: 2rem;
  --fs-p: 1rem;
  --fs-button: 1.125rem;

  @include breakpoint(tablet) {
    --fs-h1: 4rem;
    --ls-h1: -0.73px;
    --fs-p: 1.125rem;
  }

  @include breakpoint(desktop) {
    --fs-h1: 5.5rem;
    --ls-h1: -1px;
    --fs-h2: 2.5rem;
    --fs-p: 1.25rem;
  }
}

h1 {
  line-height: 1;
  letter-spacing: var(--ls-h1);
  font-weight: 700;
  font-size: var(--fs-h1);
}

p {
  font-weight: 400;
  font-size: var(--fs-p);

  @include breakpoint(desktop) {
    line-height: 1.5;
  }
}

h2 {
  font-weight: 700;
  font-size: var(--fs-h2);
}

button {
  font-size: var(--fs-button);
  letter-spacing: -0.18px;
}
